:root {
	--bg-color: #0a0e0b;
	--color: #e7d9a4;
	--pink: #c73b45;
	--red: #d53e29;
	--orange: #ca6727;
}

html {
	background: #333;
	color: #eee;

}

body {
	font-family: 'Montserrat', sans-serif;
}

#root{
	margin: 0 auto;
	padding: 2% 10%;
}

h1 {
	font-size: 3em;
	font-weight: 100;
}

#todoList{
	padding-inline-start: 0;
}

li {
	list-style: none;
}

input.delete{
	margin-bottom: 0;
    appearance: none;
    width: 1.2em;
    height: 1.2em;
    background: transparent url(trash-solid.svg) no-repeat 0 50%;
}