:root {
	--bg-color: #0a0e0b;
	--color: #e7d9a4;
	--pink: #c73b45;
	--red: #d53e29;
	--orange: #ca6727;
}

html {
	background: var(--bg-color);
	color: var(--color);
}

span{
	font-weight: 900;
}

.pink {
	color: var(--pink);
}
.red {
	color: var(--red);
}
.orange {
	color: var(--orange);
}

body, input {
	font-family: 'Montserrat', sans-serif;
}

#root{
	margin: 0 auto;
	padding: 2% 10%;	
    width: fit-content;
}

h1 {
	font-size: 3em;
	font-weight: 100;
}

#todoList{
	padding-inline-start: 0;
}

.task {
	padding: 3% 0%;	
	display: flex;
	justify-content: flex-start;
}

li {
	list-style: none;
}

input[type='text'], input[name='addTask']:focus {
	border-radius: .2em;
	padding: .4em 1em;
	border: none;
	background: var(--color);
	color: var(--bg-color);
	width: 100%;
}

input[type='checkbox'] {
	margin-bottom: 0;
    appearance: none;
    width: 1.2em;
    height: 1.2em;
}

input.delete {
	margin-left: auto;
    background: transparent url(icons/trash-solid.svg) no-repeat 0 50%;
}

input.complete {
	padding-right: 2em;
    background: transparent url(icons/circle-regular.svg) no-repeat 0 50%;
}

input.complete:checked {
    background: transparent url(icons/circle-check-solid.svg) no-repeat 0 50%;
}

.completedTask {
	color: var(--orange);
	text-decoration: line-through;
}